.sendForm {
    display: flex;
}

.textarea {
    resize: none;
    overflow: hidden;
    width: 976px;
    height: 40px;
    border-radius: 20px;
    background: #F5F7FB;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);

    color: rgba(0, 0, 0, 0.60);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.9;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #06C;
    border-style: none;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

.button:hover {

}
.button:active {

}
